LOG/Launcher.Battery/*
LOG/Launcher.Launcher/*
LOG/Launcher.LauncherGUI/*
LOG/Test.TestLauncher/*
target/*

!LOG/.gitkeep
!LOG/Launcher.Launcher/.gitkeep
!LOG/Test.TestLauncher/.gitkeep
!LOG/Launcher.Battery/.gitkeep
!LOG/Launcher.LauncherGUI/.gitkeep
